<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" routerLink="">Teste de título</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active"><a routerLink="" class="nav-link" aria-current="page">Início</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLink="/sobremim" class="nav-link">Sobre mim</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLink="/experiencia" class="nav-link">Experiência</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLink="" class="nav-link" aria-current="page">a</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLink="" class="nav-link" aria-current="page">b</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLink="" class="nav-link" aria-current="page">c</a></li>
            </ul>
        </div>
    </div>
</nav>