<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Quem sou eu?</h1>
                <p class="fs-4 texto-esquerda">
                    Sou o Leonardo, tenho 23 anos, sou formado em Análise e Desenvolvimento de Sistemas e
                    também em Gestão da Tecnologia da Informação. <br>
                    Desde mais novo gostava de brincar com jogos de puzzle pois sempre via gosto em
                    resolver um desafio, isso se mantém até hoje. <br>
                    Trabalho como técnico de informática a mais de 3 anos no
                    setor público. Possuo fluência em inglês além de outros cursos complementares.
                </p>
            </div>
        </div>
    </div>
</header>

