<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Formação</h1>
                <h2>Tecnólogo em Gestão da Tecnologia da Informação - FATEC</h2>
                <p class="fs-4">
                    Concluído em dezembro de 2021
                </p>
                <h2>Tecnólogo em Análise Desenvolvimento de Sistemas - UNIP</h2>
                <p class="fs-4">
                    Concluído em dezembro de 2017
                </p>
                <h2>Curso Técnico de Informática - ETEC</h2>
                <p class="fs-4">
                    Concluído em dezembro de 2015
                </p>
            </div>
            <hr>
            <div>
                <h1 class="display-5 fw-bold">Experiência</h1>
                <h2>Técnico de Informática <br> Prefeitura Municipal de Mairiporã (2019 - Atualmente)</h2>
                <p class="fs-4 texto-esquerda">
                    <li>Responsável por todo o atendimento dentro do Paço Municipal; </li>
                    <li>Auxílio no serviço externo; </li>
                    <li>Manutenção de rede e servidores; </li>
                    <li>Manutenção de hardware.</li>
                </p>
                <h2>Estagiário na Secretaria de Educação<br>Prefeitura Municipal de Mairiporã (Junho/16 - Dezembro/17)</h2>
                <p class="fs-4 texto-esquerda">
                    <li>Manutenção técnica dos computadores das escolas; </li>
                    <li>Auxílio na secretaria e monitoramento do funcionamento das salas de informáticas das escolas. </li>
                </p>
            </div>
        </div>
    </div>
</header>
