<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Sejam todos bem-vindos!</h1>
                <span><img src="../../assets/img/prf_pic_edit.jpg" class="circulo"/></span>
                <p class="fs-4">
                    Eu sou o Leonardo Daniel, muito prazer em vê-los por aqui <br>
                    Aqui você encontrará meu portfólio
                </p>
                <a class="btn btn-primary btn-lg" routerLink="/sobremim">Vamos começar?</a>
            </div>
        </div>
    </div>
</header>
